.customerManager {
	height: calc(100% - 80px);
}

.add_root {
	background: url(../../../assets/shared/12-kuang.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
// .textarea{
// :global{
// .ant-row.ant-form-item{
//     width: 100%;
// .ant-form-item-control-wrapper{
//    width: calc(100% - 2.1rem);
// }
// }
// }
// }