:global(.menu_tree .ant-tree li .ant-tree-node-content-wrapper) {
  height: 45px;
}

.menu_edit {
  :global {
    tr.ant-table-expanded-row,
    tr.ant-table-expanded-row:hover {
      background: rgba(0, 0, 0, 0);
    }
    .ant-table-row-expand-icon {
      background: rgba(0, 0, 0, 0);
    }

// .treeEdit{

// }

  }
}
 .reactOrgChart .nodeLineBorderTop{
    border-right: 2px solid #00D8FF !important;
}
.initechNode {
    border: solid 3px #00D8FF;
    color: #00D8FF;
    border-radius: 3px;
    padding: 5px;
    width: 150px;
    display: inline-block;
}
 
 
