.input_text {
  background: url(../../assets/shared/文本.png);
  border-width: 0;
  background-size: contain;
}

.input_text_highlight {
  background: url(../../assets/shared/文本-highlight.png);
}

.select_text {
  :global {
    .ant-select-selection {
      background: url(../../assets/shared/文本.png);
      border-width: 0;
      background-size: contain;
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

.select_text_highlight {
  background: url(../../assets/shared/文本-highlight.png);
}
