.no_background {
  background-color: rgba(0, 0, 0, 0);
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(229, 229, 229, 1);
  border-width: 0;
}

:global(.ant-menu-inline .ant-menu-submenu-title) {
  width: 206px;
  height: 60px !important;
  padding-left: 40px !important ;
  background: no-repeat url(../assets/homepage/04-normal.png);
  color: #00d8ff;
  background-size: 206px 60px;

  // background-size: cover;
}
:global(.ant-menu-submenu-open) {
  :global(.ant-menu-submenu-title) {
    width: 206px;
    height: 60px !important;
    padding-left: 40px !important ;
    background: no-repeat url(../assets/homepage/03-chose.png);
    color: rgba(251, 117, 52, 1);
    background-size: 206px 60px;

    :global(:visited) {
      background: url(../assets/homepage/03-chose.png);
      color: rgba(251, 117, 52, 1);
      background-size: 206px 60px;
    }

    span {
      padding-bottom: 10px;
    }
  }
}
:global(.ant-menu-submenu-title:hover) {
  color: white;
}
:global(.ant-menu-item:active) {
  background: rgba(0, 0, 0, 0);
}
:global(.ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow) {
  display: none;
}
:global(.ant-menu-submenu-title:active) {
  background: url(../assets/homepage/04-normal.png);
  background-size: 206px 60px;
  border: 0px;
}

:global(.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected) {
  background: rgba(0, 0, 0, 0);

  .menu_item {
    font-family: Source Han Sans CN;
    font-weight: 400;
    border-image-slice: 30% 0%;
    background-size: repeat;
    padding-bottom: 3px;
    color: rgba(251, 117, 52, 1) !important ;
    border-bottom-style: dashed;
    border-image: url(../assets/homepage/21-light.png) 5 stretch;
  }
}

:global(.ant-menu-inline .ant-menu-item::after) {
  border-width: 0;
}
.sub_menu_list {
  position: relative;
  width: 205px;
  left: 10%;
}

.no_background ul {
  background-color: rgba(0, 0, 0, 0) !important ;
}
.no_background li {
  background-color: rgba(0, 0, 0, 0);
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(229, 229, 229, 1);
}

// .menu_item_underline_active {

// }
// .ant-menu-item .anticon .icon_title, 
 .icon_title  {
 
    display: inline-block;
 width:80px;
}
.icon_down {
      position: absolute;
    /* position: relative; */
    padding: 0px;
    padding-left: 0px;
    margin-left: 13px;
    margin-top: 15px;
  font-size: 6px !important;
}
 :global( .menu_item .ant-menu-item > a){
    color: rgba(251, 117, 52, 1) !important ;
    }