html,
body,
#root {
  height: 100%;
  // color: red;
}

body {
  margin: 0;
}

:global(.ant-menu-submenu-open.ant-menu-submenu-inline
    > .ant-menu-submenu-title
    .ant-menu-submenu-arrow::before) {
  background-image: linear-gradient(to right,#00D8FF,#00D8FF);
}
:global( .ant-menu-submenu-inline > .ant-menu-submenu-title i.ant-menu-submenu-arrow::before){
  background:#00D8FF;

}
:global(.ant-menu-submenu-inline > .ant-menu-submenu-title i.ant-menu-submenu-arrow::after){
  background:#00D8FF;
}
:global(.ant-menu-submenu-open.ant-menu-submenu-inline
    > .ant-menu-submenu-title
    .ant-menu-submenu-arrow::after) {
  background-image: linear-gradient(to right,#00D8FF, #00D8FF);
}

:global(.ant-menu-submenu-open.ant-menu-submenu-inline
    > .ant-menu-submenu-title:hover
    .ant-menu-submenu-arrow::before) {
  background-image: linear-gradient(to right,#fff,#fff);
}

:global(.ant-menu-submenu-open.ant-menu-submenu-inline
    > .ant-menu-submenu-title:hover
    .ant-menu-submenu-arrow::after) {
  background-image: linear-gradient(to right,#fff, #fff);
}
 
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
.ant-form-item-control-wrapper {
  .ant-form-item-control {
    .ant-form-item-children {
      input {
        background: url(./assets/shared/文本.png);
        border-width: 0;
        background-size: 2rem 0.4rem;
        width: 2rem;
        height: 0.4rem;
      }
      //  选择框
      .ant-select.ant-select-enabled {
        width: 2rem;
        height: 0.4rem;
        background: url(./assets/shared/文本.png);
        border-width: 0;
        background-size: 2rem 0.4rem;
        color: rgba(255, 255, 255, 0.8);
        .ant-select-selection.ant-select-selection--single {
          height: 0.4rem;
          background: rgba(0, 0, 0, 0);
          border: 0px;
          .ant-select-selection__rendered {
            height: 0.4rem;
          }
        }
      }
    }
  }
}
// textarea
.textarea {
  .ant-row.ant-form-item {
    width: 100%;
    .ant-form-item-control-wrapper {
      width: calc(100% - 2.1rem);
      .ant-form-item-control {
        textarea {
          background: url(./assets/shared/文本.png);
          border-width: 0;
          background-size: 100% 100%;
          color: rgba(255, 255, 255, 0.8);
          width: 6.47rem;
          height: 1.68rem;
          margin-left: 0.1rem;
        }
      }
    }
  }
}
.auth__inner--container {
  .ant-row-flex.ant-row-flex-space-between {
    .ant-row.ant-form-item {
      .ant-form-item-label {
        width: 120px;
      }
    }
  }
}
 
:global(.ant-table-tbody tr){
  font-size: 17px;
  font-weight: 500;;

}
 
:global(.ant-pagination-total-text){
  font-size: 15px;
}
:global(.ant-btn.ant-btn-sm){

  font-size: 15px;
}
:global(.ant-pagination-item ){
  font-size: 15px;

}
:global(.ant-pagination.mini .ant-pagination-options-quick-jumper input){
  color:white
}
:global(.ant-pagination.mini .ant-pagination-total-text){
  font-size:24px;
}
 
 .ant-tooltip .ant-tooltip-content .ant-tooltip-inner{
     color: #fff;
  text-align: center;
  font-size:20px;
 }
 .ant-modal-content .ant-modal-body .ant-modal-confirm-body-wrapper .ant-modal-confirm-btns .ant-btn{
       background: #ff4d4f;
        border:1px solid #ff4d4f;

    color: white;
  

 }
    .ant-modal-content .ant-modal-body .ant-modal-confirm-body-wrapper .ant-modal-confirm-btns .ant-btn:hover{
        background: #ff4d50cb;
      border:1px solid #ff4d50cb;
    }
  .ant-modal-content .ant-modal-body .ant-modal-confirm-body-wrapper .ant-modal-confirm-btns .ant-btn.ant-btn-danger{
    border-color: #d9d9d9;
    color: black;
    background:none;
  }  .ant-modal-content .ant-modal-body .ant-modal-confirm-body-wrapper .ant-modal-confirm-btns .ant-btn.ant-btn-danger:hover{
    border-color:#ff4d50cb;
    color: black;
    background:none;
  }
  .ant-tree-title{
    font-size: 20px;
  }