.layout {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../assets/login/bg.png) !important;
  background-size: cover;
}

.no_background {
  background-color: rgba(0, 0, 0, 0);
  /* color: red; */
}

.left_bar_bg {
  overflow-y: scroll;
    overflow-x: hidden;
  background:  url(../assets/homepage/2--menu.png);
  background-size:280px;
}

.header {
  background-color: rgba(0, 0, 0, 0);
}

.content {
  background-color: rgba(0, 0, 0, 0);
}

.logo {
  width: 200px;
}

.siderBar {
  background-color: rgba(0, 0, 0, 0);
}

.sideMenu {
  background-color: rgba(0, 0, 0, 0);
}


/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
width: 15px; /*对垂直流动条有效*/
height: 10px; /*对水平流动条有效*/
}

// /*定义滚动条的轨道颜色、内阴影及圆角*/
// ::-webkit-scrollbar-track{
// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
// background-color: rosybrown;
// border-radius: 3px;
// }


// /*定义滑块颜色、内阴影及圆角*/
// ::-webkit-scrollbar-thumb{
// border-radius: 7px;
// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
// background-color: #E8E8E8;
// }

// /*定义两端按钮的样式*/
// ::-webkit-scrollbar-button {
// background-color:cyan;
// }

// /*定义右下角汇合处的样式*/
// ::-webkit-scrollbar-corner {
// background:khaki;
// }